.card-container {
	position: relative;
	width: 73px;
	height: 73px;
	z-index: 1;
	-webkit-perspective: 1000;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}

.face.back {
	display: none;
	display: block;
	-webkit-transform: rotateY(180deg);
}

.card {
	width: 100%;
	height: 100%;	
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 1.0s linear;	
}
.card.flipped {
	-webkit-transform: rotateY(180deg);
}