.card-container {
	float: left;
	margin:  5px;
}
.card {
	border: solid black medium;
}
.oog {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 2s;
	-webkit-transform: translate(100px, 100px);
}